{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container">
		<div class="p-5 mb-4 bg-light rounded-3 text-center">
			<div class="container-fluid py-5">
				<h1 class="display-5 fw-bold">Agence Seb Immo</h1>
				<p class="fs-4">Ce site d'annonces immobilière a été créé avec le framework PHP Symfony version 4</p>
				<button class="btn btn-primary btn-lg" type="button">Example button</button>
			</div>
		</div>
	</div>

	<div class="container">
		<h2>Les derniers biens</h2>
		<div class="row flex">
			{% for property in lastProperties %}
				<div class="col-3">
					<div class="card">
						<img class="card-img-top" src="http://place-hold.it/350x250" alt="Card image cap">
						<div class="card-body">
							<h6 class="card-title text-primary">
								<a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
							</h6>
							<h6>Ville:
								{{property.city}}
								({{property.postalCode}})</h6>
							<p class="card-text">{{ property.description|u.truncate(80, '...', false) }}</p>
							<h5 class='text-primary'>Prix:
								{{property.formattedPrice}}
								€</h5>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
