<div class="col-3">
	<div class="card mt-4">
		{% if property.imagename %}
			<img class="card-img-top" src="{{ vich_uploader_asset(property, 'imageFile') }}" alt="Card image top">
		{% else %}
			<img class="card-img-top" src="http://place-hold.it/304x171" alt="Card image top">
		{% endif %}

		<div class="card-body">
			<h6 class="card-title text-primary">
				<a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
			</h6>
			<h6>Ville:
				{{property.city}}
				({{property.postalCode}})</h6>
			<p class="card-text">{{ property.description|u.truncate(80, '...', false) }}</p>
			<h5 class='text-primary'>Prix:
				{{property.formattedPrice}}
				€</h5>
		</div>
	</div>
</div>
