<div class="p-2 mb-4 bg-light rounded-3">
	<div class="container-fluid py-5">
		{{ form_start(form) }}
		<div class="row align-items-end">
			<div class="col-lg-3">
				{{ form_row(form.minValue)}}
			</div>
			<div class="col-lg-3">
				{{ form_row(form.maxValue)}}
			</div>
			<div class="col-lg-3">
				{{ form_row(form.minSurface)}}
			</div>
			<div class="col-lg-3">
				{{ form_row(form.maxSurface)}}
			</div>
			<div class="col-lg-3">
				{{ form_row(form.heat)}}
			</div>
			<div class="col-lg-3">
				{{ form_row(form.rooms)}}
			</div>
			<div class="col-lg-3">
				{{ form_row(form.bedrooms)}}
			</div>
			<div class="col-lg-3">
				{{ form_row(form.city)}}
			</div>
			<div class="col-lg-3">
				{{ form_row(form.options)}}
			</div>
			<div class="col-lg-3">
				<button class="btn btn-primary">Rechercher</button>
			</div>
		</div>
		{{ form_end(form) }}
	</div>
</div>
