{% extends 'base.html.twig' %}

{% block title %}Editer un bien
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Editer le bien '{{property.title}}'</h1>
		{{form_start(form)}}
		<div class="row mt-4">
			<div class="col-md-4">{{ form_row(form.title) }}</div>
			<div class="col-md-4">{{ form_row(form.address) }}</div>
			<div class="col-md-2">{{ form_row(form.city) }}</div>
			<div class="col-md-2">{{ form_row(form.postal_code) }}</div>
		</div>
		<div class="row mt-4">
			<div class="col-md-2">{{ form_row(form.surface) }}</div>
			<div class="col-md-2">{{ form_row(form.heat) }}</div>
			<div class="col-md-2">{{ form_row(form.rooms) }}</div>
			<div class="col-md-2">{{ form_row(form.bedrooms) }}</div>
			<div class="col-md-2">{{ form_row(form.price) }}</div>
			<div class="col-md-2">{{ form_row(form.sold) }}</div>
		</div>
		<div class="row mt-4">
			<div class="col-12">{{ form_row(form.description) }}</div>
		</div>
		<button class="btn btn-primary mt-4">Editer</button>
		{{form_end(form)}}
	</div>
{% endblock %}
